# The local path where to store the backup files
BACKUP_STORAGE=/Users/madalinpopa/backup

# ID of a Microsoft Entra application
AZURE_CLIENT_ID=

# ID of the application's Microsoft Entra tenant
AZURE_TENANT_ID=

# One of the application's client secrets
AZURE_CLIENT_SECRET=

# Azure storage account name
AZURE_STORAGE_ACCOUNT_NAME=

# Azure storage container
AZURE_STORAGE_CONTAINER=
